<h1>Index</h1>

@Html.ActionLink(linkText: "Data", actionName: "Index", controllerName: "Data")

<hr />

<a href="~/readme">Readme</a>

@Html.ActionLink(linkText: "Logout", actionName: "Logout", controllerName: "Account")