<h1>EF Core Application</h1>

@Html.ActionLink(linkText: "Lict of Cities in Turkey", actionName: "Index", controllerName: "Data", null, new { @class="btn btn-primary" })

<hr />

<a href="~/readme">Readme</a> | 

@Html.ActionLink(linkText: "Logout", actionName: "Logout", controllerName: "Account")